<%- include('partials/head') %> 

  <body>
    <%- include('partials/navbar')%> 
    <h1>Browsing The <%= name %> subreddit</h1>
    <h2><%= description %></h2>
    <p>Subscribers <%= subscribers %></p>
    <hr />
    <% for (let post of posts) {%>
    <h3><%= post.author %></h3>
    <p><%= post.title %></p>
    <% if(post.img) { %>
    <img src="<%= post.img %> " alt="" />
    <% } %>
    <hr />
    <% } %>
  </body>
</html>
